* {
  padding: 0;
}

body {
  font-size: 16px;
  font-family: georgia;
}

h1 {
  margin-bottom: 0;
}
ul {
    margin: 0;
    list-style: none;
}

.item {
  display: flex;
  margin: 10px;
}

img {
  margin-right: 10px;
  max-width: 25vw;
  align-self: center;
}

.text {
  max-width: 75vw;
}

#input {
  width: 400px;
  margin: 8px 0;
  height: 30px;
  padding-left: 4px;
}

